.wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.book {
  height: 20%;
  width: 80%;
  display: flex;
  margin: 50px auto;
  flex-wrap: wrap;
}

.book-img-wrapper {
  min-width: 170px;
}

.book-img  {
  height: 100%;
  margin-right: 10px;
}

.search-box {
  margin: auto;
  max-width: 40em;
  width: 80%;
}

.search-input {
  padding: 10px;
}

.search-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}
